@import "../../global.scss";
.aboutSection{
    background-color: #fff;
    display: flex;
    @include mobile{
        flex-direction: column;
        align-items: center;
    }
    .left{
        flex: 0.6;
        overflow: hidden;
        .wrapper{
            padding: 100px 70px 0 70px;
            @include mobile{
                padding: 10px;
            }
            .about{
                @include mobile{
                    text-align: center;
                }
                h1{
                    font-size: 60px;
                    padding-bottom: 30px;
                    @include mobile{
                        text-align: center;
                        font-size:40px;
                        padding-bottom: 10px;
                    }
                }
                p{
                    width: 100%;
                    font-size: 20px;
                    color: #777777;
                    line-height: 1.5;
                    padding-bottom: 100px;
                    @include mobile{
                        padding-bottom: 20px;
                        padding-left: 17px;
                        width: 90%;
                        text-align: center;
                        line-height: 1.2;
                    }
                }
            }
            .arrow-down{
                overflow: hidden;
                a{
                    .arrow{
                        color: #000;
                        position: relative;
                        padding: 30px;
                        font-size: 60px;
                        text-align: center;
                        left: 200px;
                        top: 50px;
                        animation:arrowBlink 2s infinite;
                        -webkit-animation:arrowBlink 2s infinite;
                    }
                    @include mobile{
                        display: none;
                    }
                    @keyframes arrowBlink{
                        100%{
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }
    .right{
        flex: 0.4;
        overflow: hidden;
        align-items: center;
        padding-top: 20px;
        margin-right: 100px;
        @include mobile{
            margin-right: 10px;
            /*overflow: visible;*/
        }
        ul {
            text-align: center;
            margin: 10px 0 20px 0;
            padding: 0;
            list-style: none;
            display: flex;
        }
        .container {
            width: 70%;
            align-items: center;
            justify-content: center;
            margin-left: 90px;

            .item {
                padding: 1.2rem 2rem;
                overflow: hidden;
                display: inline-block;
                border-left: 3px solid #333333;
                border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
                letter-spacing: 0.3ch;
                background: #ffffff;
                position: relative;

                &::before {
                    content: '';
                    border-left: 2px solid #353535;
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
                    border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
                }
            }
        }
    }
    
}
